.brew {
  margin: 1em 0;
}

.brew-container {
  padding: 1.5em 0;
  border-top: var(--border);
  border-bottom: var(--border);

  display: grid;
  gap: 1em;
}

.brew-container .rating-buttons > * {
  margin: 0;
}

.brew-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
  place-items: center;
}

.brew-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 50em) {
  .brew-details {
    grid-template-columns: repeat(2, 1fr);
    place-items: initial;
  }
  .brew-text {
    align-items: flex-start;
  }
}

@media screen and (min-width: 65em) {
  .brew-details {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

.rating-buttons {
  display: grid;
  place-items: center;
}
