:root {
  --background: #ede0d4;
  --foreground: #644029;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.125rem;
  --fs-small: 0.7rem;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --border: 1px solid var(--foreground);
}

@media screen and (min-width: 60em) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.2rem;
    --fs-small: 1rem;
  }
}
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-black);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
